[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
tensorflow = "*"
scikit-learn = "*"
scipy = "*"
ipympl = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
